.user-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #ddd;
}

.user-card-content{
    display: flex;
    justify-content: space-between;
}

.user-card-content-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-name {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.user-username {
    margin: 5px 0;
    font-size: 1.2em;
    color: #666;
}

.user-email, .user-phone, .user-website {
    margin: 5px 0;
    color: #555;
}

.user-website {
    color: #1e90ff;
    text-decoration: none;
}

.user-website:hover {
    text-decoration: underline;
}


.user-card-button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-delete{
    padding: 10px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background-color: rgb(255 0 0);
    color: black;
}

.user-delete:hover{
    transition: 0.3s;
    background-color: rgba(255, 0, 0, 0.479);
}

.user-redaction{
    padding: 10px;
    width: 120px;
    border-radius: 30px;
    border: none;
    background-color: #1a932b;
}

.user-redaction:hover{
    background-color: #1a932a86;
}