app-user-card {
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

#create-button {
   margin-right: 100px;

   
}

#create-button-and-filter {
    margin-top: 25px;
    justify-content: space-between;
    padding: 20px;
}